@charset "utf-8";

/* reset */
* {
  margin: 0px;
  padding: 0px;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  outline: 0;
}
img {
  vertical-align: top;
}

#wrap {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -200px;
}
.top {
  width: 0%;
  height: 1px;
  background-color: #111;
  position: absolute;
  top: 0%;
  left: 0%;
}
.right {
  width: 1px;
  height: 0%;
  background-color: #111;
  position: absolute;
  right: 0;
  top: 0;
}
.bottom {
  height: 1px;
  width: 0%;
  background-color: #111;
  position: absolute;
  right: 0;
  bottom: 0;
}
.left {
  width: 1px;
  height: 0%;
  background-color: #111;
  position: absolute;
  left: 0;
  bottom: 0;
}

.con {
  width: 100%;
  height: 100%;
  background-color: #111;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.btn1 {
  display: block;
  width: 380px;
  height: 40px;
  border: 1px solid #111;
  font: bold 16px/40px "arial";
  color: #111;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: 220px;
}
.btn2 {
  display: block;
  width: 380px;
  height: 40px;
  border: 1px solid #111;
  font: bold 16px/40px "arial";
  color: #111;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -400px;
  margin-top: 220px;
}
.close1 {
  font: bold 16px/1 "arial";
  color: #fff;
  position: absolute;
  top: 30px;
  right: 30px;
}
#wrap2 {
  width: 100%;
  height: 400px;
  top: 50%;
  bottom: 50%;
  margin-top: 0;
  left: 0;
  background: #111;
  position: absolute;
}
.close2 {
  font: bold 16px/1 "arial";
  color: #fff;
  position: absolute;
  top: 30px;
  right: 30px;
}
